__pycache__
*core/__pycache__/*
vnfs/__pycache*
utils/__pycache__/*
topology/__pycache__/*
controllers/__pycache__/*
algorithms/__pycache__/*
.vscode/launch copy.json
.vscode/launch.json
.vs/
PythonSettings.json
slnx.sqlite
sfc-system/v17/.suo
logs/*
test.py
plots/figures/plot_3d_ar.pdf
core/__init__.py
*.pyc
sbc_simu.rar
RESULTADOS_8_12.rar
backup_log.txt
results.rar
*.rar
*.pdf
*.mp4
plots/2024/*.pdf
results (1).tar.gz
resultsu.tar.gz
teste.csv
results.tar.gz
arquivos.zip
PPO_sfc_allocation.zip