__pycache__*
core/__pycache__/*
vnfs/__pycache*
utils/__pycache__/*
topology/__pycache__/*
controllers/__pycache__/*
algorithms/__pycache__/*
.vscode/launch copy.json
.vscode/launch.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/sfc-system/v17/.suo
results_*
logs/*
test.py
results_flows_*
results_cpu_utilization/*
results_cache_utilization/*
plots/figures/heatmap.pdf
plots/figures/plot_3d_ar.pdf
plots/figures/plot_cpu_utilization.pdf
plots/figures/plot_latency.pdf
core/__init__.py
*.pyc
csbc_simu.rar
RESULTADOS_8_12.rar
